<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/microsoft/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="*nightly"/>
    </packageSource>
  </packageSourceMapping>

  <packageSourceCredentials>
    <github>
        <add key="Username" value="rwjdk" />
        <add key="ClearTextPassword" value="ghp_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" />
      </github>
  </packageSourceCredentials>
</configuration>