@page "/"

<PageTitle>Most Impressive Comic Emporium on the Internet</PageTitle>

<h1>Most Impressive Comic Emporium on the Internet</h1>

Greetings, humble browsers of the multiverse. You have arrived at the premier comic book store website. Please, try to contain your awe while exploring treasures clearly far beyond the comprehension of the average fan.
